<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blue Jeans</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <title></title>
</head>
<body>
<div class="d-flex justify-content-center container mt-5">
        <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
            <div class="about-product text-center mt-2"><img src="https://static.pullandbear.net/2/photos/2022/I/0/1/p/4684/322/427/4684322427_1_1_3.jpg?t=1654465505571" width="300">
                <div>
                    <h4>Blue Jeans</h4>
                    <h6 class="mt-0 text-black-50">Beautiful Color</h6>
                </div>
            <h4>
            $29.99
        <h4>
    </div>
</body>
</html>