<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Yellow Highheels</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <title></title>
</head>
<body>
<div class="d-flex justify-content-center container mt-5">
        <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
            <div class="about-product text-center mt-2"><img src="https://cdn.shopify.com/s/files/1/0267/4484/8463/products/kendrick-paris-shoes-sandals-heels-yellow-2_x1200_crop_center.jpg?v=1643483454" width="300">
                <div>
                    <h4>Yellow Highheels</h4>
                    <h6 class="mt-0 text-black-50">Totally Comfortable</h6>
                </div>
            <h4>
            $35.99
        <h4>
    </div>
</body>
</html>